@page "/quiz"
@using QuizAppBlazor.Client.DTOs;
@using Microsoft.AspNetCore.Components.Routing
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="d-flex flex-column">
    <QuizRun />
</div>
